<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Inventaris</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/editinventarisStyle.css">
</head>
<body>

    <!-- Edit Inventaris -->
    <div class="edit_inventaris">
        <div class="back_btn">
            <a href="/"><i class="fa fa-arrow-left"></i>  </a>
        </div>
        <h1>Edit Inventaris</h1>
        <span class="title-span">Gunakan form dibawah ini untuk edit inventaris</span>
        <form action="/update/inventaris/<%= data.id %>"?_method="PUT" method="post">
            <div class="txt_field">
              <input type="text" name="nama" value="<%= data.nama %>" required>
              <span></span>
              <label for="name">Nama Inventaris</label>
            </div>
            <div class="num_field">
              <input type="number" name="jumlah" value=<%= data.jumlah %> required>
              <span></span>
              <label for="jumlah" >Jumlah Inventaris</label>
            </div>
            <div class="txt_field">
                <input type="text" name="kondisi" value="<%= data.kondisi %>" required>
                <span></span>
                <label for="kondisi">Kondisi Inventaris</label>
            </div>
            <div>
            <button type="submit" class="btn btn-success">Save</button>
            </div>
          </form>
    </div>
<!-- Edit Inventaris -->

    <!--Header-->
    <%- include('../header') %>
    <!--Header-->

</body>
</html>