<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventaris</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/public/css/indexinventarisStyle.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js"></script>
</head>
<body>
    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="back-btn">
                <a href="/"><i class="fa fa-arrow-left"></i></a>
            </div>
            <div class="box-nav d-flex justify-between">
                <a href="/input/inventaris" class="border-shadow">
                    <span class="text-gradient">Tambah Inventaris <i class="fas fa-box  "></i></span>
                </a>
            </div>

            <!-- form handling -->
            <form action="/">
                <h1>Inventaris Barang</h1>
                <table class="table">
                    <thead class="thead">
                        <tr>
                            <th>Nama</th>
                            <th>Jumlah</th>
                            <th>Kondisi</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.result.forEach(data => { %>
                            <form action="/remove/inventaris/<%= data.id %>"?_method="DELETE" method="post">
                                <tr>
                                    <td><%= data.nama %> </td>
                                    <td><%= data.jumlah %> </td>
                                    <td><%= data.kondisi %> </td>
                                    <td>
                                        <a href="/edit/inventaris/<%= data.id %>"  class="btn-edit-inventaris">
                                            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                                        </a>
                                        <button type="submit" class="btn-delete-inventaris">
                                            <span class="text-gradient"><i class="fas fa-times"></i></span>
                                        </button>
                                    </td>
                                </tr>
                            </form>
                        <% }) %>
                    </tbody>

                </table>
            </form>
            <div class="pageWrapper">
                <ul class="pagination">
                    <% if (data.previous != null) { %>
                        <li><a href="/index/inventaris/?page=<%= data.previous.page %>" class="prev">Prev</a></li>
                    <% } %>
                    <% if (data.next != null) { %>
                        <li><a href="/index/inventaris/?page=<%= data.next.page %>" class="next">Next</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </main>
<!-- /Main Site -->

    <!--Header-->
        <%- include('../header') %> 
    <!--Header-->


    <script>
        $(document).ready(function()
        {
            $('.next').click(function()
            {
                $('.pagination').find('.pageNumber.active').next().addClass('active');
                $('.pagination').find('.pageNumber.active').prev().removeClass('active');
            })
            $('.prev').click(function()
            {
                $('.pagination').find('.pageNumber.active').prev().addClass('active');
                $('.pagination').find('.pageNumber.active').next().removeClass('active');
            })
        })
    </script>
</body>
</html>